
<h1 class="centertitle thin">Our Trip At Large</h1>



<div id="mapdiv">
	<% @stops.each do |stop| %>
		<div class="com comstyle" style="left: <%=stop.longitude%>%; top: <%=stop.latitude%>%;">
			<a href="/stops/<%=stop.id%>">
				<%if stop.visited == true %>
					<%= image_tag 'greenstar.png', class:"stars"%>
				<%else%>
					<%= image_tag 'star.png', class:"stars"%>
				<%end%>
				<%=stop.city%>
			</a>
		</div>
	<% end%>


	<%= image_tag 'worldmap.png', style:"width:100%;"%>
</div>

<div id="listdiv">
	<p>These are the steps along the way. For a mapview, please extend your browser.</p>
	<% @stops.each do |stop| %>
		<div class="comstyle liststyle">
			<a href="/stops/<%=stop.id%>">
				<%if stop.visited == true %>
					<%= image_tag 'greenstar.png', class:"stars"%>
					<a href="/stops/<%=stop.id%>"><p class="itblue"><%=stop.city%></p></a>
				<%else%>
					<%= image_tag 'star.png', class:"stars"%>
					<a href="/stops/<%=stop.id%>"><p class="itgray"><%=stop.city%></p></a>
				<%end%>

			</a>
		</div>
	<% end%>
</div>

<p class='centertext itblue'>
	We’ve made this site for you to not only keep tags on our whereabouts, but also and more importantly to help you plan where in the world you will come and visit us. If you can’t make the trek, please share any travel tips by selecting the stop above.<br><br>- Lily + Lenny
<p>
<!--
<p class="column" style="margin-top: 50px;">For general recommendations, this is the place.</p>

<div class="commentbox column">
	<h3>New comment</h3>

	<%= form_for(@comment) do |f| %>
		<% if @comment.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

				<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.text_field :name, :placeholder => "Name" %>
		</div>
		<div class="field">
			<%= f.text_area :text, :placeholder => "What do you recommend?", :rows=>5, :cols=>79 %>
		</div>
		<div class="field hidden">
			<%= f.label :stop_id %><br>
			<%= f.number_field :stop_id, :value => 999 %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>
 -->

<% if signed_in? %>
<!--
	<% @comments.each do |comment| %>
		<% if comment.stop_id == 999 %>
			<div class="commentbox column">
				<h4><%= comment.name %> says:</h4>
				<p style="margin: 30px 10px"><%= comment.text %></p>
				<% if signed_in? %>
					<p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
				<% end %>
			</div>
		<% end %>
	<% end %>

 -->
	<table>
		<thead>
			<tr>
				<th>Country</th>
				<th>City</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Visited</th>
				<% if signed_in? %>
					<th></th>
					<th></th>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% @stops.each do |stop| %>
				<tr>
					<td><%= stop.country %></td>
					<td><%= link_to stop.city, stop %></td>
					<td><%= stop.latitude %></td>
					<td><%= stop.longitude %></td>
					<td><%= stop.visited %></td>
					<% if signed_in? %>
						<td><%= link_to 'Edit', edit_stop_path(stop) %></td>
						<td><%= link_to 'Destroy', stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>

	<br>

	<%= link_to 'New Stop', new_stop_path %><br>
<% end %>
