<h1 class="column" style="text-align:center; margin-bottom: 50px;"><%=@stop.country%> - <%= @stop.city%></h1>


<% if @stop.visited %>
	<% @stop.posts.each do |post| %>
		<p><%= post.text %></p>
		<p><%= image_tag post.image.url(:medium) %></p>
	<% end %>
<%end%>

<% if signed_in? %>
	<p><%= link_to 'Add Post', new_post_path(:stop_id=>@stop.id) %></p>
	<% if @stop.visited ==false %>
		<p><%= link_to 'Complete Stop', "/stops/#{@stop.id}/visit", :confirm=>'Are you sure? Only complete after posting!' %></p>
	<% end %>
<% end %>

<h2 class="column">Recommendations and Contacts</h2>
<p class="column">In case you have any insight on places to go, people to see or things to do, we'd love to know.
</p>

<p class="column">Please share below or <a href="mailto:leonardlangenscheidt@gmail.com, lilycalaway@gmail.com" target="_top" style="text-decoration:underline;">
email</a> us.
</p>

<div class="commentbox column">
	<h3>New comment</h3>

	<%= form_for(@comment) do |f| %>
		<% if @comment.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

				<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.text_field :name, :placeholder => "Name" %>
		</div>
		<div class="field">
			<%= f.text_area :text, :placeholder => "What do you recommend?", :rows=>5, :cols=>79 %>
		</div>
		<div class="field hidden">
			<%= f.label :stop_id %><br>
			<%= f.number_field :stop_id, :value => @stop.id %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>

<% @comments.each do |comment| %>
	<% if comment.stop == @stop %>
		<div class="commentbox column">
			<h4><%= comment.name %> says:</h4>
			<p style="margin: 30px 10px"><%= comment.text %></p>
			<% if signed_in? %>
				<p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
			<% end %>
		</div>
	<% end %>
<% end %>


<br>
<div class='footer'>
	<% if signed_in? %>
		<%= link_to 'Edit', edit_stop_path(@stop) %> |
	<% end %>
	<%= link_to 'Back', stops_path %>
</div>
