<h2><%=@stop.country%> - <%= @stop.city%></h2>


<% if @stop.visited %>
	<% @stop.posts.each do |post| %>
		<p><%= post.text %></p>
		<p><%= image_tag post.image.url(:medium) %></p>
	<% end %>
<%end%>

<% if signed_in? %>
	<p><%= link_to 'Add Post', new_post_path(:stop_id=>@stop.id) %></p>
	<% if @stop.visited ==false %>
		<p><%= link_to 'Complete Stop', "/stops/#{@stop.id}/visit", :confirm=>'Are you sure? Only complete after posting!' %></p>
	<% end %>
<% end %>

<h2 style="column">Recommendations and Contacts</h2>
<p style="column">Money and gems, maps, boat repair/building tools, maybe a big map, maybe some plans, sextant, telescope, a couple of firearms and a couple of swords, some balls and gunpowder, some kind of certificate or maybe a letter of marque, (money?) pouch, quill and ink, pot of something (glue? pitch?), whip, an oar, various pirate-esque accoutrements and possibly most importantly, a jug of rum.</p>

<p style="column">If you have any other recommendations for our trip, please do share below!</p>

<div class="commentbox column">
	<h3>New comment</h3>

	<%= form_for(@comment) do |f| %>
		<% if @comment.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

				<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.text_field :name, :placeholder => "Name" %>
		</div>
		<div class="field">
			<%= f.text_area :text, :placeholder => "What do you recommend?", :rows=>5, :cols=>79 %>
		</div>
		<div class="field hidden">
			<%= f.label :stop_id %><br>
			<%= f.number_field :stop_id, :value => @stop.id %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>

<% @comments.each do |comment| %>
	<% if comment.stop == @stop %>
		<div class="commentbox column">
			<h4><%= comment.name %> says:</h4>
			<p style="margin: 30px 10px"><%= comment.text %></p>
			<% if signed_in? %>
				<p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
			<% end %>
		</div>
	<% end %>
<% end %>


<br>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
