<!DOCTYPE html>
<html>
<head>
  <title>WorldTrip</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 		<div style="float:left" class="divi"></div>
		<div style="float:right" class="divi"></div> -->

	<div style="width: 100%;
        	padding: 0px;
        	height: auto;
        	min-height: auto;">
		<p class='nav'>
			<%= link_to "Home", stops_path %>| <%= link_to "Itinerary", itinerary_path %>
		</p>


		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>
<!-- 			<div class='footer'>
			<% unless signed_in? %>
				<%= link_to 'Sign In', new_user_session_path %>
			<% else %>
				<%= link_to 'Sign Out', destroy_user_session_path, :method=>:delete %>
			<% end %>
			</div> -->
	</div>


</body>
</html>
